<%- include('../layout/navigation.ejs') %>
<!-- begin steam__form -->
<div class="steam__form">
    <% if(requests.length > 0){ %> 
    <!-- begin requests -->
    <div class="requests">
        <div class="requests__title main__title">
            Latest requests:
        </div>
        <div class="requests__data">
            <% requests.map(req => { %> 
                <a href="/steam/<%= encodeURIComponent(req.data) %>"><%= req.data %></a> 
            <% }) %> 
        </div>
    </div>
    <!-- end requests -->
    <% } %> 

    <!-- begin steam__form__noties -->
    <div class="steam__form__noties">
        <div class="steam__form__noties__title main__title">
            Examples:
        </div>
        <div class="steam__form__noties__data">
            <span>STEAM_0:0:20820115</span>
            <span>76561198001905958</span>
            <span>ElviS6</span>
            <span>https://steamcommunity.com/id/ElviS6</span>
            <span>https://steamcommunity.com/profiles/76561198001905958</span>     
        </div>
    </div>
    <!-- end steam__form__noties -->

    <form action="/steam/" method="POST">
        <input name="data" id="data" type="text" placeholder="Enter SteamID / SteamCommunityID / Profile Name / Profile URL" value="<%= val %>">
        <button>Send</button>
    </form>

</div>
<!-- end steam__form -->