<%- include('./layout/head.ejs') %>

<!-- begin content -->
<div class="content center">
    <div class="fourofour">Error 404. <%= message %></div>
</div>
<!-- end content -->

<%- include('./layout/foot.ejs') %>