<footer class="footer">
    <!-- begin content -->
    <div class="content">
        <ul class="footer__navigation">
            <li>
                <a href="https://github.com/mastdiekin/steamfinder-node" target="_blank" rel="noopener noreferrer">
                    Github
                </a>
            </li>
        </ul>
    </div>
    <!-- end content -->
</footer>

</div>
<!-- end wrapper -->