<!-- begin content -->
<div class="content">
    <!-- begin navigation -->
    <nav class="navigation">
        <ul>
            <li>
                <a href="/">
                    Home
                </a>
            </li>
        </ul>
    </nav>
    <!-- end navigation -->
</div>
<!-- end content -->